@tailwind base;
@tailwind components;
@tailwind utilities;


.flip:hover .flop {
    transform: rotateY(180deg);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.btn {
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

.btn:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
}

.btn:hover:before {
    width: 100%;
}





body.dark #dark-mode-toggle .cs-sun {
    opacity: 1;
    transform: translate(-50%, -50%);
}

body.dark #dark-mode-toggle .cs-moon {
    opacity: 0;
    transform: translate(-50%, -150%);
}

#dark-mode-toggle img,
#dark-mode-toggle svg {
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#dark-mode-toggle .cs-moon {
    z-index: 2;
    transition: transform 0.3s, opacity 0.3s;
    fill: #1a1a1a;
}

#dark-mode-toggle .cs-sun {
    opacity: 0;
    z-index: 1;
    transform: translate(-50%, 100%);
    transition: transform 0.3s, opacity 0.3s;
}



#menu .box {
    width: clamp(1.5rem, 2vw, 1.75rem);
    height: 1rem;
    position: relative;
}

#menu .line {
    width: 100%;
    height: 2px;
    background-color: #fafbfc;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#menu .line1 {
    top: 0;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform-origin: center;
}

#menu .line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#menu .line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
}

#menu .toggle.manu-active {
    transform: rotate(180deg);
}

#menu .manu-active .line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
}

#menu .manu-active .line2 {
    top: 50%;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    transform-origin: center;
}

#menu .manu-active .line3 {
    opacity: 0;
    bottom: 100%;
}
