@tailwind base;
@tailwind components;
@tailwind utilities;


.flip:hover .flop {
    transform: rotateY(180deg);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.btn {
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

.btn:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
}

.btn:hover:before {
    width: 100%;
}





body.dark #dark-mode-toggle .cs-sun {
    opacity: 1;
    transform: translate(-50%, -50%);
}

body.dark #dark-mode-toggle .cs-moon {
    opacity: 0;
    transform: translate(-50%, -150%);
}

#dark-mode-toggle img,
#dark-mode-toggle svg {
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#dark-mode-toggle .cs-moon {
    z-index: 2;
    transition: transform 0.3s, opacity 0.3s;
    fill: #1a1a1a;
}

#dark-mode-toggle .cs-sun {
    opacity: 0;
    z-index: 1;
    transform: translate(-50%, 100%);
    transition: transform 0.3s, opacity 0.3s;
}